
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App{
    font-family: 'League Spartan', sans-serif;
    background-color: #F5F6FB;
}


.bg-color{
    background-color: #808EFF;
}

/* Button CSS */
.btn-outline{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-outline:hover{
    background-color: white;
    color: #808EFF;
    color: black;
}

.btn-secondary{
    border: 1px solid #808EFF;
    color: #808EFF;
}
.btn-secondary:hover{
    background-color: #808EFF;
    color: white;
}

.btn-primary-solid{
    background-color: #808EFF;
    border: 1px solid #808EFF;
    color: white;
}
.btn-primary-solid:hover{
    background-color: transparent;
    color: #808EFF;
}

/* Text CSS */
.text-primary-color{
    color: #808EFF;
}

/* Common Shadow CSS */
.card-shadow{
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.06);
}

/* Error CSS */

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
