#nav{
    background-color: #808EFF;
    box-shadow: 10px 10px 40px -5px #888888;
}

/* .btn-outline{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-outline:hover{
    background-color: white;
    color: #808EFF;
    color: black;
} */

.nav-item{
    color: white;
}